Repository project-koku/koku, pull requests merged in 2018-08, with the labels that each got.

#290 Add ability to specify a filter limit that will return the data ranked by total.
  docs/source/specs/openapi.yml
  koku/api/report/queries.py
  koku/api/report/serializers.py
  koku/api/report/test/tests_queries.py
  koku/api/report/test/tests_serializers.py
Labels: ready to test

#293 Add ability to toggle the ordering for cost.
  docs/rtd_requirements.txt
  koku/api/report/queries.py
  koku/api/report/test/tests_queries.py
Labels: ready to test

#289 203 api unit conversion
  docs/source/specs/openapi.yml
  koku/api/report/serializers.py
  koku/api/report/test/tests_serializers.py
  koku/api/report/test/tests_views.py
  koku/api/report/view.py
  koku/api/tests_utils.py
  koku/api/utils.py
Labels: ready to test

#297 Line item deduplication model changes
  koku/api/migrations/0016_auto_20180802_1911.py
  koku/reporting/migrations/0004_auto_20180803_1926.py
  koku/reporting/models.py
  koku/reporting_common/migrations/0006_auto_20180802_1911.py
Labels: enhancement

#300 Add support for filtering by account without grouping the data.
  docs/source/specs/openapi.yml
  koku/api/report/queries.py
  koku/api/report/serializers.py
  koku/api/report/test/tests_queries.py
Labels: ready to test

#302 Add support for filtering by service without grouping the data.
  docs/source/specs/openapi.yml
  koku/api/report/queries.py
  koku/api/report/serializers.py
  koku/api/report/test/tests_queries.py
Labels: ready to test

#303 Add support for filtering by region or avail_zone without grouping the data.
  docs/source/specs/openapi.yml
  koku/api/report/queries.py
  koku/api/report/serializers.py
  koku/api/report/test/tests_queries.py
Labels: ready to test

#305 Document that count is the distinct number of instances for the respective time period. Closes #275.
  docs/source/specs/openapi.yml
  koku/api/report/view.py
Labels: ready to test

#311 Alter services to use lineItem/ProductCode for grouping and filtering.
  koku/api/report/queries.py
  koku/api/report/test/tests_queries.py
Labels: ready to test

#313 Enable operation query parameter to get raw line item data.
  docs/source/specs/openapi.yml
  koku/api/report/queries.py
  koku/api/report/serializers.py
  koku/api/report/test/tests_queries.py
  koku/api/report/view.py
Labels: ready to test

#314 Don't remove the local provider
  koku/api/migrations/0017_auto_20180808_2134.py
  koku/reporting_common/migrations/0007_auto_20180808_2134.py
Labels: bug

#316 Bugfix get create test db file working
  Makefile
  scripts/__init__.py
  scripts/create_test_customer.py
Labels: bug

#320 Use the environement variables required for Koku for db connection
  scripts/create_test_customer.py
  scripts/test_customer.yaml
Labels: bug, configuration

#321 Workaround grouping issue when units are missing that can cause multiple entries.
  koku/api/report/queries.py
  koku/api/report/test/tests_queries.py
Labels: bug

#324 Handle case where user tries to create a new preference for one that already exists.
  koku/api/iam/models.py
  koku/api/iam/serializers.py
  koku/api/iam/test/tests_serializers.py
  koku/api/iam/view/user_preference.py
  koku/api/migrations/0017_auto_20180815_1716.py
Labels: ready to test
