Repository project-koku/koku, pull requests merged in 2021-05, with the labels that each got.

#2863 Rc 2021.05.05
  db_functions/app_needs_migrations_func.sql
  docker-compose.yml
  koku/api/common/pagination.py
  koku/api/iam/models.py
  koku/api/iam/sql/koku_tenant_create.sql
  koku/api/iam/test/test_clone_schema.py
  koku/api/migrations/0044_auto_20210505_1747.py
  koku/api/provider/provider_builder.py
  koku/api/report/queries.py
  koku/api/report/serializers.py
  koku/api/report/test/aws/test_views.py
  koku/api/report/test/aws/tests_queries.py
  koku/api/report/test/tests_serializers.py
  koku/api/settings/tag_management.py
  koku/koku/celery.py
  koku/koku/koku_test_runner.py
  koku/koku/middleware.py
  koku/koku/settings.py
  koku/koku/test_middleware.py
  koku/masu/celery/tasks.py
  koku/masu/database/sql/reporting_awscostentrylineitem_daily_summary.sql
  koku/masu/database/sql/reporting_ocpawscostlineitem_daily_summary.sql
  koku/masu/database/sql/reporting_ocpazurecostlineitem_daily_summary.sql
  koku/masu/management/commands/migrate_schemas.py
  koku/masu/test/celery/test_tasks.py
  koku/masu/test/processor/test_tasks.py
  koku/sources/api/source_status.py
  koku/sources/storage.py
  koku/sources/tasks.py
  koku/sources/test/api/test_source_status.py
  koku/sources/test/test_tasks.py
Labels: release, stable

#2870 use pg catalog for schema create
  koku/api/iam/models.py
  koku/api/iam/test/test_clone_schema.py
Labels: API, Database

#2874 use json.dumpms for proper escaping
  koku/masu/database/ocp_report_db_accessor.py
Labels: API

#2871 Rc 2021.05.12
  Pipfile.lock
  docker-compose.yml
  docs/rtd_requirements.txt
  koku-manifest
  koku/api/common/pagination.py
  koku/api/iam/models.py
  koku/api/iam/sql/koku_tenant_create.sql
  koku/api/iam/test/test_clone_schema.py
  koku/api/report/test/aws/openshift/tests_views.py
  koku/api/report/test/aws/test_views.py
  koku/api/report/test/ocp/tests_views.py
  koku/api/report/test/ocp_aws_static_data.yml
  koku/api/report/test/ocp_azure_static_data.yml
  koku/api/tags/test/ocp/test_ocp_tag_query_handler.py
  koku/gunicorn_conf.py
  koku/koku/celery.py
  koku/koku/metrics.py
  koku/masu/celery/tasks.py
  koku/masu/database/gcp_report_db_accessor.py
  koku/masu/database/ocp_report_db_accessor.py
  koku/masu/database/sql/reporting_ocpawscostlineitem_daily_summary.sql
  koku/masu/database/sql/reporting_ocpazurecostlineitem_daily_summary.sql
  koku/masu/processor/gcp/gcp_report_processor.py
  koku/masu/processor/ocp/ocp_cloud_summary_updater.py
  koku/masu/processor/tasks.py
  koku/masu/test/database/test_azure_report_db_accessor.py
  koku/masu/test/processor/gcp/test_gcp_report_processor.py
  koku/masu/test/processor/ocp/test_ocp_report_charge_updater.py
  koku/masu/test/processor/test_tasks.py
  koku/reporting/migrations/0177_auto_20210506_1650.py
  koku/reporting/migrations/0178_auto_20210511_1851.py
  koku/reporting/provider/all/openshift/sql/views/reporting_ocpallcostlineitem_daily_summary.sql
  koku/reporting/provider/aws/openshift/models.py
  koku/reporting/provider/azure/openshift/models.py
  koku/sources/management/commands/sources.py
  run_server.sh
  scripts/nise_ymls/ocp_on_aws/ocp_static_data.yml
  scripts/nise_ymls/ocp_on_azure/ocp_static_data.yml
Labels: release, stable

#2881 Reset django_migrations.id sequences to value from template schema
  koku/api/migrations/0045_update_django_migration_sequences.py
Labels: API, Database

#2882 Cost 1410 matview index def
  db_functions/jsonb_sha256_text.sql
  koku/api/migrations/0046_jsonb_sha256_text.py
  koku/reporting/migrations/0178_auto_20210511_1851.py
  koku/reporting/migrations/0179_matview_tags_hash.py
  koku/reporting/provider/all/openshift/models.py
  koku/reporting/provider/all/openshift/sql/views/reporting_ocpallcostlineitem_daily_summary.sql
Labels: API, Database

#2883 Adjust seq migration
  koku/api/migrations/0045_update_django_migration_sequences.py
  koku/api/migrations/0047_update_django_migration_sequences.py
  koku/masu/test/processor/test_tasks.py
Labels: API, Database

#2890 Rc 2021.05.18
  koku/sources/kafka_message_processor.py
  koku/sources/test/test_kafka_listener.py
  koku/sources/test/test_kafka_message_processor.py
Labels: release, stable
