Repository project-koku/koku, pull requests merged in 2021-09, with the labels that each got.

#3102 unittest: end-of-month test fix
  koku/api/report/serializers.py
  koku/api/report/test/aws/openshift/test_ocp_aws_query_handler.py
  koku/api/report/test/aws/tests_queries.py
  koku/api/report/test/azure/openshift/test_ocp_azure_query_handler.py
  koku/api/report/test/azure/tests_azure_query_handler.py
  koku/api/report/test/gcp/tests_gcp_query_handler.py
  koku/api/report/test/ocp/test_ocp_query_handler.py
Labels: smoke-tests

#3107 COST-1819: gcp fix invoice_month filter and other start of month test failures.
  koku/api/report/test/aws/openshift/test_ocp_aws_query_handler.py
  koku/api/report/test/aws/tests_queries.py
  koku/api/report/test/azure/openshift/test_ocp_azure_query_handler.py
  koku/api/report/test/azure/tests_azure_query_handler.py
  koku/api/report/test/gcp/tests_gcp_query_handler.py
  koku/api/report/test/ocp/test_ocp_query_handler.py
  koku/api/utils.py
Labels: bug, smoke-tests

#3108 [COST-1725, COST-1795, COST-1664] Switch to warning log for common trino issues
  koku/masu/processor/report_parquet_processor_base.py
Labels: pr-check-build

#3094 fix status commit
  koku/api/status/models.py
  koku/api/status/tests_status.py
  koku/masu/api/status.py
  koku/masu/test/api/test_status.py
  koku/sources/api/status.py
  koku/sources/test/api/test_status.py
Labels: smoke-tests

#3129 [COST-1629] Could not obtain last modified date for BigQuery table
  koku/masu/external/downloader/gcp/gcp_report_downloader.py
  koku/masu/external/downloader/report_downloader_base.py
  koku/masu/processor/tasks.py
  koku/masu/test/external/downloader/gcp/test_gcp_report_downloader.py
  koku/masu/test/processor/test_tasks.py
Labels: smoke-tests

#3122 GCP: Add migration changes for partition_time & credits.
  koku/reporting/migrations/0192_gcp_bigquery_partition.py
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_account_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_project_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_region_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_service_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_account_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_project_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_region_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_service_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_database_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_network_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_account_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_project_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_region_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_service_20210816.sql
Labels: migration

#3137 GCP: Update models to include credit amount & partition_date.
  koku/reporting/migrations/0192_gcp_bigquery_partition.py
  koku/reporting/provider/gcp/models.py
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_account_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_project_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_region_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_compute_summary_by_service_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_account_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_project_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_region_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_cost_summary_by_service_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_database_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_network_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_account_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_project_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_region_20210816.sql
  koku/reporting/provider/gcp/sql/views/_20210816/reporting_gcp_storage_summary_by_service_20210816.sql
Labels: migration

#3115 COST-1829: Initial currency settings infrastructure support
  koku/api/settings/view.py
  koku/cost_models/models.py
  koku/currency/__init__.py
  koku/currency/common.py
  koku/currency/settings.py
  koku/currency/test/__init__.py
  koku/currency/test/tests_common.py
Labels: smoke-tests

#3147 enable running smoke tests on trino for pr-check
  pr_check.sh
Labels: trino-smoke-tests

#3156 Fix gcp export bug on multiworker
  koku/masu/database/report_manifest_db_accessor.py
  koku/masu/external/downloader/gcp/gcp_report_downloader.py
Labels: smoke-tests

#3097 [Cost-1810]Can't access nodes/projects resource-types when rbac is restricted to a cluster
  koku/api/resource_types/openshift_nodes/view.py
  koku/api/resource_types/openshift_projects/view.py
  koku/api/resource_types/test/tests_views.py
Labels: smoke-tests
