Repository project-koku/koku, pull requests merged in 2021-06, with the labels that each got.

#2908 Rc 2021.06.01
  .s2i/bin/assemble
  Dockerfile
  build_deploy.sh
  docker-compose.yml
  docs/source/specs/openapi.json
  koku/api/currency/__init__.py
  koku/api/currency/specs/currencies.json
  koku/api/currency/test/__init__.py
  koku/api/currency/test/tests_views.py
  koku/api/currency/view.py
  koku/api/report/queries.py
  koku/api/report/test/all/openshift/test_query_handler.py
  koku/api/report/test/ocp/test_ocp_query_handler.py
  koku/api/urls.py
  koku/api/views.py
  koku/reporting/models.py
  koku/sources/kafka_listener.py
  koku/sources/kafka_message_processor.py
  koku/sources/test/test_kafka_listener.py
  koku/sources/test/test_kafka_message_processor.py
  pr_check.sh
  unit_test.sh
Labels: stable

#2902 COST-1021: GCP instance endpoint blows up with bad delta.
  koku/api/report/gcp/serializers.py
  koku/api/report/test/gcp/tests_serializers.py
Labels: API, bug

#2948 COST-1341: Fix no attribute bug in provider db accessor.
  koku/masu/database/provider_db_accessor.py
  koku/masu/test/database/test_provider_db_accessor.py
  koku/masu/test/util/ocp/test_common.py
  koku/masu/util/ocp/common.py
Labels: bug

#2953 Use raw sql to execute deletes
  koku/api/provider/models.py
  koku/api/provider/provider_manager.py
  koku/koku/database.py
  koku/koku/test_delete_sql.py
  koku/masu/database/report_db_accessor_base.py
  koku/masu/processor/aws/aws_report_db_cleaner.py
  koku/masu/processor/azure/azure_report_db_cleaner.py
  koku/masu/processor/gcp/gcp_report_db_cleaner.py
  koku/masu/processor/ocp/ocp_report_db_cleaner.py
Labels: API

#2900 COST-1446: Update Cost Model API for Cost Distribution
  docs/source/specs/openapi.json
  koku/api/metrics/constants.py
  koku/cost_models/migrations/0003_auto_20210615_2011.py
  koku/cost_models/models.py
  koku/cost_models/serializers.py
  koku/cost_models/test/test_serializers.py
Labels: API

#2967 add flag for PR builds
  pr_check.sh
Labels: pr-check-build

#2973 fix pr-check script label logic
  pr_check.sh
Labels: lgtm

#2982 COST-1446: Fix updating distribution choice in the cost model.
  koku/cost_models/cost_model_manager.py
  koku/cost_models/test/test_cost_model_manager.py
Labels: API, bug
