Repository project-koku/koku, pull requests merged in 2022-03, with the labels that each got.

#3497 [COST-2063] - increase OCP precision
  koku/api/report/test/util/baker_recipes.py
  koku/koku/test_presto_delete_wrapper_trigger.py
  koku/masu/database/ocp_report_db_accessor.py
  koku/masu/database/presto_sql/reporting_ocp_usage_label_summary.sql
  koku/masu/test/database/test_ocp_report_db_accessor.py
  koku/reporting/migrations/0219_increase_decimal_precision.py
  koku/reporting/provider/ocp/models.py
Labels: smoke-tests

#3494 Script to remove data from trino-enabled accounts
  deploy/koku-cji.yaml
  scripts/__init__.py
  scripts/cji_scripts/__init__.py
  scripts/cji_scripts/lite/__init__.py
  scripts/cji_scripts/lite/config.py
  scripts/cji_scripts/lite/env.py
  scripts/cji_scripts/lite/unleash.py
  scripts/cji_scripts/truncate_old_tables.py
Labels: pr-check-build

#3502 parameterize tables, provider-types
  deploy/koku-cji.yaml
  scripts/cji_scripts/truncate_old_tables.py
Labels: pr-check-build

#3504 [COST-2063] - Switch to RunSQL for single ALTER TABLE
  koku/reporting/migrations/0219_increase_decimal_precision.py
Labels: smoke-tests

#3501 COST-2357: Missing GCP data for the 1st day of the month.
  koku/masu/external/downloader/gcp/gcp_report_downloader.py
  koku/masu/processor/tasks.py
  koku/masu/test/external/downloader/gcp/test_gcp_report_downloader.py
Labels: gcp-smoke-tests

#3499 use schema on raw delete
  koku/masu/database/report_db_accessor_base.py
Labels: smoke-tests, trino-smoke-tests

#3506 Ocp on awsazure base tables
  scripts/cji_scripts/truncate_ocp_on_awsazure_base.py
  scripts/job_script.sh
Labels: pr-check-build

#3508 Cost 2276 drop ocp aws azure base tables v2
  koku/reporting/migrations/0220_drop_ocp_on_aws_azure_base_tables.py
  koku/reporting/provider/aws/openshift/models.py
  koku/reporting/provider/azure/openshift/models.py
Labels: pr-check-build, aws-smoke-tests

#3500 Squash reporting migrations
  koku/reporting/migrations/0250_squash.py
Labels: smoke-tests, migration

#3505 Cost 999 add org_unit_id option to AWS materialized views
  koku/api/report/aws/provider_map.py
  koku/forecast/test/test_forecast.py
Labels: aws-smoke-tests

#3520 switch to insights-prod for pr-check
  pr_check.sh
Labels: smoke-tests

#3519 [COST-2448] OCP GCP Tag Cost Duping on Multi-Cluster setup with overlapping tags
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcpcostlineitem_daily_summary.sql
  koku/masu/util/gcp/common.py
Labels: trino-smoke-tests, gcp-smoke-tests

#3525 Fixing pod/volume distribution
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcpcostlineitem_daily_summary.sql
Labels: gcp-smoke-tests

#3521 Cost 2454 db performance panel
  koku/masu/api/db_performance/__init__.py
  koku/masu/api/db_performance/db_performance.py
  koku/masu/api/db_performance/dbp_views.py
  koku/masu/api/db_performance/templates/__init__.py
  koku/masu/api/db_performance/templates/gen_table.html
  koku/masu/api/db_performance/templates/stats_table.html
  koku/masu/api/db_performance/templates/t_action_table.html
  koku/masu/api/urls.py
  koku/masu/api/views.py
  koku/masu/openapi.json
  koku/masu/test/api/test_db_performance.py
  koku/masu/test/api/test_db_performance_views.py
Labels: pr-check-build

#3517 Adding OCI provider type
  .env.example
  Pipfile
  Pipfile.lock
  deploy/clowdapp.yaml
  deploy/kustomize/patches/scheduler.yaml
  deploy/kustomize/patches/sources-client.yaml
  deploy/kustomize/patches/sources-listener.yaml
  deploy/kustomize/patches/worker-priority.yaml
  docker-compose.yml
  docs/rtd_requirements.txt
  koku-manifest
  koku/api/migrations/0054_adding_oci_provider.py
  koku/api/provider/models.py
  koku/api/provider/provider_builder.py
  koku/api/provider/serializers.py
  koku/api/provider/test/test_serializers.py
  koku/cost_models/migrations/0005_add_oci_provider.py
  koku/providers/oci/__init__.py
  koku/providers/oci/provider.py
  koku/providers/oci_local/__init__.py
  koku/providers/oci_local/provider.py
  koku/providers/provider_access.py
  koku/providers/provider_errors.py
  koku/providers/test/oci/__init__.py
  koku/providers/test/oci/test_oci_provider.py
  koku/providers/test/oci_local/__init__.py
  koku/providers/test/oci_local/test_oci_local_provider.py
  testing/auth_files/.gitignore
Labels: smoke-tests

#3529 [COST-2475] tag based rate sql update
  dev/scripts/cost_models/openshift_on_prem_cost_model.json
  dev/scripts/load_test_customer_data.sh
  koku/masu/database/sql/default_infrastructure_tag_rates.sql
  koku/masu/database/sql/default_supplementary_tag_rates.sql
  koku/masu/database/sql/infrastructure_tag_rates.sql
  koku/masu/database/sql/supplementary_tag_rates.sql
  koku/masu/processor/ocp/ocp_cost_model_cost_updater.py
  koku/masu/test/database/test_ocp_report_db_accessor.py
  koku/reporting/migrations/0252_alter_ocpusagelineitemdailysummary_monthly_cost_type.py
  koku/reporting/provider/ocp/models.py
Labels: migration

#3538 Cost 2485 install pg stat statements
  koku/api/migrations/0055_install_pg_stat_statements.py
Labels: Database, pr-check-build, migration

#3534 enable trino mode for smoke tests by default
  pr_check.sh
Labels: smoke-tests

#3515 [COST-2439] aws legal entity column
  koku/masu/test/util/aws/test_common.py
  koku/masu/util/aws/common.py
  koku/reporting/provider/aws/models.py
  scripts/cji_scripts/migrate_trino.py
Labels: trino migration, HCS

#3551 [COST-2506] add aws billing entity column for AWS
  koku/masu/test/util/aws/test_common.py
  koku/masu/util/aws/common.py
  koku/reporting/provider/aws/models.py
Labels: aws-smoke-tests, trino migration, HCS
