Repository project-koku/koku, pull requests merged in 2022-01, with the labels that each got.

#3356 Update check_migration return value processing
  koku/koku/celery.py
  koku/masu/management/commands/listener.py
  koku/sources/management/commands/sources.py
  koku/sources/management/commands/sources_listener.py
Labels: pr-check-build, hot-fix-smoke-tests

#3353 update sql token parser
  koku/koku/database_exc.py
  koku/koku/test_database_exc.py
Labels: pr-check-build, hot-fix-smoke-tests

#3349 [Cost 2134] - Masu API to kick off HCS report
  deploy/clowdapp.yaml
  deploy/kustomize/patches/scheduler.yaml
  docker-compose.yml
  koku/hcs/tasks.py
  koku/hcs/test/test_tasks.py
  koku/koku/celery.py
  koku/masu/api/hcs_report_data.py
  koku/masu/api/urls.py
  koku/masu/api/views.py
  koku/masu/openapi.json
  koku/masu/test/api/test_hcs_report_data.py
Labels: hot-fix-smoke-tests

#3360 fix db-migrations runner command
  deploy/clowdapp.yaml
  deploy/kustomize/base/base.yaml
Labels: hot-fix-smoke-tests

#3315 remove unused models in the AWS provider map.
  koku/api/report/aws/provider_map.py
  koku/api/report/test/aws/tests_queries.py
Labels: aws-smoke-tests

#3368 [COST-2152] - remove GCP matview references - p1
  koku/masu/test/processor/test_tasks.py
  koku/reporting/migrations/0001_initial-from-template.py
  koku/reporting/migrations/0192_gcp_bigquery_partition.py
  koku/reporting/models.py
Labels: gcp-smoke-tests

#3370 [COST-2050,COST-2051] - remove OCP-on-X mat view imports
  koku/reporting/migrations/0001_initial-from-template.py
  koku/reporting/migrations/0190_ocp_on_all_partitioned_models.py
  koku/reporting/models.py
  koku/reporting/provider/aws/openshift/models.py
  koku/reporting/provider/azure/openshift/models.py
Labels: ocp-smoke-tests

#3371 add missing close parenthesis
  koku/masu/database/presto_sql/reporting_ocpawscostlineitem_daily_summary.sql
Labels: trino-smoke-tests, ocp-smoke-tests

#3384 upgrade bonfire to v3
  Pipfile.lock
  pr_check.sh
Labels: hot-fix-smoke-tests

#3385 Cost 2134
  koku/masu/openapi.json
Labels: hot-fix-smoke-tests

#3388 fix typo in Masu openapi example
  koku/masu/openapi.json
Labels: hot-fix-smoke-tests

#3283 Test that partitiion manager trigger delete works from separate schema
  db_functions/partitioned_manager_trigger_function.sql
  koku/api/migrations/0051_reapply_partition_trigger_func.py
  koku/koku/test_pg_partition.py
Labels: pr-check-build, migration, hot-fix-smoke-tests

#3381 Add deferred sql capability; create models for partitioned base tables
  koku/koku/database.py
  koku/reporting/migrations/0001_initial-from-template.py
  koku/reporting/migrations/0190_ocp_on_all_partitioned_models.py
  koku/reporting/migrations/0196_ocpall_cvt_matview_to_part.py
  koku/reporting/migrations/0198_aws_matviews_to_partables.py
  koku/reporting/migrations/0200_ocpgcp_partables.py
  koku/reporting/migrations/0201_ocp_partables.py
  koku/reporting/migrations/0202_azure_partables.py
  koku/reporting/migrations/0209_gcp_partables.py
  koku/reporting/migrations/0210_ocpaws_partables.py
  koku/reporting/migrations/0211_ocpaz_partables.py
  koku/reporting/migrations/0214_ocpaws_ocpazure_summary_partables.py
  koku/reporting/provider/aws/openshift/models.py
  koku/reporting/provider/azure/openshift/models.py
Labels: pr-check-build, migration, hot-fix-smoke-tests

#3394 COST-2194: Incorrect GCP instance report with start/end date params.
  koku/masu/database/presto_sql/reporting_gcpcostentrylineitem_daily_summary.sql
Labels: gcp-smoke-tests

#3396 [COST-2204] handle Hour unit for Azure
  koku/masu/database/presto_sql/reporting_azurecostentrylineitem_daily_summary.sql
  koku/masu/database/sql/reporting_azurecostentrylineitem_daily_summary.sql
Labels: azure-smoke-tests

#3402 Fixing ocp on aws usage getting halved between pod and volumes!
  koku/masu/database/presto_sql/reporting_ocpawscostlineitem_daily_summary.sql
Labels: ocp-smoke-tests

#3395 [COST-1026] small migration for ocp on gcp partables
  koku/reporting/migrations/0214_ocpgcp_unitusage.py
  koku/reporting/provider/gcp/openshift/models.py
Labels: hot-fix-smoke-tests

#3393 ATTEMPT: 002 -- Cost 2186 partition ocp on aws azure summary tables
  koku/koku/database.py
  koku/reporting/migrations/0001_initial-from-template.py
  koku/reporting/migrations/0190_ocp_on_all_partitioned_models.py
  koku/reporting/migrations/0196_ocpall_cvt_matview_to_part.py
  koku/reporting/migrations/0198_aws_matviews_to_partables.py
  koku/reporting/migrations/0200_ocpgcp_partables.py
  koku/reporting/migrations/0201_ocp_partables.py
  koku/reporting/migrations/0202_azure_partables.py
  koku/reporting/migrations/0209_gcp_partables.py
  koku/reporting/migrations/0210_ocpaws_partables.py
  koku/reporting/migrations/0211_ocpaz_partables.py
  koku/reporting/migrations/0215_ocpaws_ocpazure_summary_partables.py
  koku/reporting/provider/aws/openshift/models.py
  koku/reporting/provider/azure/openshift/models.py
Labels: pr-check-build, migration, hot-fix-smoke-tests

#3407 Add extended DB exception processing to _execute_raw_sql_query
  koku/koku/database_exc.py
  koku/masu/database/report_db_accessor_base.py
  koku/masu/test/database/test_aws_report_db_accessor.py
Labels: pr-check-build, hot-fix-smoke-tests

#3389 [COST-2190] Upgrade Django to 3.2
  Pipfile
  Pipfile.lock
  docs/rtd_requirements.txt
  koku-manifest
  koku/api/report/azure/openshift/provider_map.py
  koku/api/report/azure/provider_map.py
  koku/api/report/azure/query_handler.py
  koku/koku/settings.py
  koku/masu/database/ocp_report_db_accessor.py
Labels: hot-fix-smoke-tests

#3357 localdev and workflow unittest run using postgres 13
  .github/postgres/docker-compose.yaml
  deploy/clowdapp.yaml
  deploy/kustomize/base/base.yaml
  docker-compose.yml
Labels: hot-fix-smoke-tests

#3196 COST-1026 OCP on GCP processing
  koku/api/provider/models.py
  koku/masu/database/__init__.py
  koku/masu/database/gcp_report_db_accessor.py
  koku/masu/database/ocp_report_db_accessor.py
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_compute_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_account_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_gcp_project_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_region_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_service_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_database_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_matched_tags.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_network_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_storage_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcpcostentrylineitem_daily_summary_back_populate.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcpcostlineitem_daily_summary.sql
  koku/masu/database/presto_sql/reporting_ocpinfrastructure_provider_map.sql
  koku/masu/database/sql/gcp/openshift/reporting_ocpgcptags_summary.sql
  koku/masu/database/sql/openshift/all/reporting_ocpallcostlineitem_daily_summary_gcp.sql
  koku/masu/database/sql/openshift/all/reporting_ocpallcostlineitem_project_daily_summary_gcp.sql
  koku/masu/database/sql/reporting_ocpgcp_matched_tags.sql
  koku/masu/processor/gcp/gcp_report_parquet_processor.py
  koku/masu/processor/ocp/ocp_cloud_parquet_summary_updater.py
  koku/masu/processor/ocp/ocp_cloud_summary_updater.py
  koku/masu/processor/ocp/ocp_cloud_updater_base.py
  koku/masu/processor/parquet/ocp_cloud_parquet_report_processor.py
  koku/masu/processor/parquet/parquet_report_processor.py
  koku/masu/test/database/test_gcp_report_db_accessor.py
  koku/masu/test/processor/gcp/test_gcp_report_parquet_processor.py
  koku/masu/test/processor/ocp/test_ocp_cloud_parquet_report_summary_updater.py
  koku/masu/test/processor/parquet/test_ocp_cloud_parquet_report_processor.py
  koku/masu/test/processor/parquet/test_parquet_report_processor.py
  koku/masu/test/util/gcp/test_common.py
  koku/masu/util/gcp/common.py
  koku/reporting/provider/gcp/models.py
  koku/reporting/provider/gcp/openshift/models.py
  pr_check.sh
  scripts/load_test_customer_data.sh
  scripts/nise_ymls/ocp_on_gcp/gcp_static_data.yml
  scripts/nise_ymls/ocp_on_gcp/ocp_static_data.yml
  scripts/test_customer.yaml
Labels: trino-smoke-tests, ocp-smoke-tests

#3408 remove unused AWS partitioned tables
  koku/koku/database.py
  koku/masu/database/sql/aws/reporting_aws_compute_summary_by_region_p.sql
  koku/masu/database/sql/aws/reporting_aws_compute_summary_by_service_p.sql
  koku/masu/database/sql/aws/reporting_aws_storage_summary_by_region_p.sql
  koku/masu/database/sql/aws/reporting_aws_storage_summary_by_service_p.sql
  koku/reporting/migrations/0216_drop_old_aws_partables.py
  koku/reporting/models.py
  koku/reporting/provider/aws/models.py
Labels: migration

#3379 Add provider FK to sources without db constraint
  koku/api/migrations/0052_sources_provider.py
  koku/api/provider/models.py
Labels: migration

#3404 Cost 2209 query tuning 1
  koku/api/query_handler.py
  koku/api/report/all/openshift/provider_map.py
  koku/api/report/aws/openshift/provider_map.py
  koku/api/report/aws/provider_map.py
  koku/api/report/azure/openshift/provider_map.py
  koku/api/report/azure/provider_map.py
  koku/api/report/gcp/provider_map.py
  koku/api/report/ocp/provider_map.py
  koku/api/report/test/aws/tests_queries.py
  koku/masu/database/ocp_report_db_accessor.py
Labels: performance, pr-check-build

#3414 Pin unleash version < 5
  Pipfile
  Pipfile.lock
  docs/rtd_requirements.txt
  koku-manifest
  koku/koku/feature_flags.py
Labels: hot-fix-smoke-tests

#3416 [COST-2249] Revert "COST-1026 OCP on GCP processing"
  koku/api/provider/models.py
  koku/masu/database/__init__.py
  koku/masu/database/gcp_report_db_accessor.py
  koku/masu/database/ocp_report_db_accessor.py
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_compute_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_account_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_gcp_project_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_region_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_by_service_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_cost_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_database_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_matched_tags.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_network_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcp_storage_summary_p.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcpcostentrylineitem_daily_summary_back_populate.sql
  koku/masu/database/presto_sql/gcp/openshift/reporting_ocpgcpcostlineitem_daily_summary.sql
  koku/masu/database/presto_sql/reporting_ocpinfrastructure_provider_map.sql
  koku/masu/database/sql/gcp/openshift/reporting_ocpgcptags_summary.sql
  koku/masu/database/sql/openshift/all/reporting_ocpallcostlineitem_daily_summary_gcp.sql
  koku/masu/database/sql/openshift/all/reporting_ocpallcostlineitem_project_daily_summary_gcp.sql
  koku/masu/database/sql/reporting_ocpgcp_matched_tags.sql
  koku/masu/processor/gcp/gcp_report_parquet_processor.py
  koku/masu/processor/ocp/ocp_cloud_parquet_summary_updater.py
  koku/masu/processor/ocp/ocp_cloud_summary_updater.py
  koku/masu/processor/ocp/ocp_cloud_updater_base.py
  koku/masu/processor/parquet/ocp_cloud_parquet_report_processor.py
  koku/masu/processor/parquet/parquet_report_processor.py
  koku/masu/test/database/test_gcp_report_db_accessor.py
  koku/masu/test/processor/gcp/test_gcp_report_parquet_processor.py
  koku/masu/test/processor/ocp/test_ocp_cloud_parquet_report_summary_updater.py
  koku/masu/test/processor/parquet/test_ocp_cloud_parquet_report_processor.py
  koku/masu/test/processor/parquet/test_parquet_report_processor.py
  koku/masu/test/util/gcp/test_common.py
  koku/masu/util/gcp/common.py
  koku/reporting/provider/gcp/models.py
  koku/reporting/provider/gcp/openshift/models.py
  pr_check.sh
  scripts/load_test_customer_data.sh
  scripts/nise_ymls/ocp_on_gcp/gcp_static_data.yml
  scripts/nise_ymls/ocp_on_gcp/ocp_static_data.yml
  scripts/test_customer.yaml
Labels: gcp-smoke-tests

#3412 [COST-2244] Migration to add effective cost column
  koku/reporting/migrations/0217_auto_20220124_1634.py
  koku/reporting/provider/ocp/models.py
Labels: migration

#3417 [Cost 2170]Fix for wrong error message for settings
  koku/koku/middleware.py
Labels: hot-fix-smoke-tests

#3401 COST-2106: Remove unnecessary GCP partables.
  koku/masu/database/sql/gcp/reporting_gcp_compute_summary_by_project_p.sql
  koku/masu/database/sql/gcp/reporting_gcp_compute_summary_by_region_p.sql
  koku/masu/database/sql/gcp/reporting_gcp_compute_summary_by_service_p.sql
  koku/reporting/migrations/0218_rm_unused_gcp_partables.py
  koku/reporting/models.py
  koku/reporting/provider/gcp/models.py
Labels: migration

#3426 [COST-2265] - Use the true max of rankings for OCP on AWS
  koku/masu/database/presto_sql/reporting_ocpawscostlineitem_daily_summary.sql
Labels: trino-smoke-tests, aws-smoke-tests

#3428 move GIT_COMMIT injection to bottom of file
  Dockerfile
Labels: hot-fix-smoke-tests

#3387 Copy ocp-on-aws, ocp-on-azure data into partitioned tables.
  .dockerignore
  dev/koku-job-cji.yaml.local-example
  scripts/copy_ocp_aws_azure_data.py
  scripts/job_script.sh
Labels: pr-check-build, migration, ProcessingJob
